
  @media screen  and (max-width:1270px){
    
  /*  .container2{

        gap: 0px;
    }*/

  }
 
  @media screen  and (max-width:1254.44px){
    p.content830 {

    margin-block: 10px;
   }
    p.content730 {
        
        margin-block: 8px;
    }
    
    .content502{
       
       width:500px ; 
    }

    .container2{

        gap: 0px;
    }

  
    .content110{
   font-size: 80px;
    }
.content11hh{

    font-size: 80px;
}
    
 }

 @media screen and (max-width:1208px){
    
    .container0{

        height: 150px;
    
        display: grid;
}

.container010{

    position: absolute;

    top: 23px;

    left: 170px;

    justify-content: start;
 }

 .content0{
   margin-inline-end: 35px;
 }
    
 }

 

 
  @media screen  and (max-width:1173px){

    .content0{
        margin-inline-end: 28px;
    }


    .container52{

        width: 400px;

        justify-self: center;
    }

    .content502{
       
        width:400px ; 
     }

    .contento113{
        width: 200px;
    }
    .btn-1{

        width: 200px;
    }

   p.content0200{

    width: 250px;
   }

  
  
 }

 @media screen  and (max-width:1126px) {

    .content0{
        margin-inline-end:20px ;
    }
    
    p.contentd135{

        width: inherit;
    }

 }


  @media screen  and (max-width:1102px){

    .contentz12{

        margin-block : 60px;
    }
    .container2{

        gap: 10px;
      
    }

    .container13{

       font-size: 20px; 
    }
  
 }

 @media screen and (max-width : 1100px) {

    .contentti13{

        width: 200px;
    }

    .content8o {
        display: flex;
        justify-content: space-between;
        margin-block-end: 10px;
    }

    .container1{

        justify-content: left;

        margin-inline-start: 8px;
    }
    .content502{
        width: 500px;
    }
    .container12{
        display: none;
    }

    .container2{

        display: grid;

        height: 500px;
    }
    .container02{

        width: 100%;
    }

    p.content0200{

        width: 680px;
    }

    .container15{

        display: grid;
    }

     .container4{

        height: 1550px; ;
     }

    .container15l{

        width: 720px;
    }
    
    .container5{
        display: grid;
        height: 1200px;
    }

    .container6{

        display: grid;

    }

    .container61{

        display: none;
    }

    .container72{

        display: none;
    }

    .container81{

        display: none;
    }

    .content94a{

        display: grid;
    }

    .content944a{
        width:700px ;
    }

    .container102{
        display: grid;
    }

    .box-2{

        width: 700px;
    }

    .contentc13{
        display: grid;

        justify-content: initial;

    }

    .contentc131{

        height: 500px;

    }
    p.contentd135{
        width: 1000px;
    }

   

    .contentti14{

        margin-block: 5px;
    }

    .contentz12{

        width: 75%;

        justify-self: center;
    }

    h1.content140{

        width:initial;
    }
   
    .container51{

        margin-inline-end: 0px;
    }

    


 
    
  
   .content91h{
       
    width: 700px;

    height: 200px;
}

   p.contentd135{

    width: 700px;
   }
 
    
  
      
   
    
     .container010{

        display: none;
     }
     .container0{

        display: flex;

        flex-direction: column;

        height:100px;
     }

     .content-z1{
        display:initial ;

        position: absolute;

        top: 10px;

        left: 900px;
     }

        
     

     .content1{
        position: absolute;
        top: 10px;
     }

     .container01{
        padding-block-start: 15px;
     }

   .container15{

      width: 400px;

      text-align: center;
      
   }

   

  }@media screen and (max-width:980px){
    
    .content-z1{
        left: 852px ;
    }
   }
    
    @media screen and (max-width:918px){
        
        .content-z1{
            left: 742px ;

        }
   
    .content131{

        width: 700px;
    }

    h1.contentb132{
        width: 700px;
    }


    .container10r {

        margin-inline-end: 0px;
    }

    .container15{

        width: 400px;
    }
    .container10h{

        width: 700px;
    }
    .container10k{

        width: 700px;
    }

    .box-2{

        width: 630px;
    }
    }
   
    @media screen and (max-width:805px){
        
        .content-z1 {
                left: 678px;
            }
    }

   @media screen and (max-width : 742px) {

  
    .content-z1 {

       left: 600px;
    }
    
    .container52{

        display: none;
    }
    
    .container10h{

        width: 540px;

    }

    .container10k{

        width: 540px;
    }
    .box-2{

        width: 400px;
    }

   


    .container1{

        justify-content: center;
    }

    p.content0200{

        width: 500px;
    }

    .container15l{
        width: 500px;
    }
    
    h1.content91{

        font-size: 40px;
    }
       
    .content944a{
          
        width: 500px;
    }

    .content91h{

        width: 500px;
    }
    .content1 {

        display: none;
    }

    .content11q{

       display: none;
    }

    .container5{
        height: initial;
    }
    .contento113{

        display: none;
    }

    .contento12{

        display: none;
    }

    .content11u{

        justify-content: center;


    }

    .btn-1{
        width: 230px;

        height: 61px;

        border-radius: 60px;
    }

    .container11{
        padding-block-end: 10px;

        justify-items: center;

        margin-block-start: 0px;

        padding-block: 30px;

    }
    
   
   }

   @media screen and (max-width :722px){

    .content-z1 {
        left: 570px;
    }
    
    .container131{

      width: 500px;  
    }

    .content131{

        width: 500px;
    }

    h3.contenta131{

        width: 500px;
    }

    .content132{

        width: 500px;
    }

    h1.contentb132{

        width: 500px;
    }
    .content133{

        width: 500px;
    }
    .contentc13{

        width: 500px;
    }

    p.contentd135{

       width: 500px; 
    }

   
   }

   @media screen and (max-width:635px){
    .content-z1 {
        left: 488px;
    }
   }


   @media  screen and (max-width :560px) {

    .content52 {

        margin-block-end: 20px;
    }

    .content-z1 {
        left: 470px;
    }

    .content6bv{
        left: 418px;
        bottom: 110px; 
    }


    .content0053{

        width: inherit;
    }

     h1.contentb132 {
             font-size: 40px;
         }


    .container131{

        width: 500px; 
    }
    .content131{

        width: 300px;
    }
    .content132{

        width: 500px ;
    }
    
    .contentc13{

        width:300px ;
    }
    .contentc132{

        text-align: center;

        width:500px ;
    }
    .contentd134{

        width:300px ;
    }
    p.contentd135{

        width:500px ;
    }
    .container13{
        justify-items: normal;

        justify-content: center;

    }

    .contentz13{
        text-align: center;
    }
   
    h1.contentb132{

       width: 500px; 
    }
    h3.contenta131{

        width: 500px;
    }

    
   p.content0200{

    width: 300px;
   }

   .container15l{

    width: 500px;
   }

   .content944a{

      width: 430px;
   }

   .content91h{

    width: 430px;
    
   }

   .content98b{

    font-size: 25px;
   }

   .content133{

    width: 500px;
   }

   

   .btn-j{

    width: 100%;
    border-radius: 60px;
    height: 61px;
   }

   .content533{

      width: 100%;
   }

   .container15l{

      width: 400px;
   }
   .container10r{

    width: 400px;
}
.container10h{

    width: 400px;
}
.container10{
    justify-items: start;
}
.container10k{

    width: 400px;
}

.box-2{

    width: 400px;
}

}

   @media screen and (max-width:516px){
         
        .content-z1 {
            left: 440px;
        }

        h1.contentb132 {
            width: 400px;
        }
     .container131 {
        width: 500px;
        justify-items: center;
    }
       h3.contenta131 {
           width: 400px;
       }
   .content131 {
           width: 400px;
       }
    .content132 {
        width: 400px;
    }
    .content133{

        width: 450px;
    }
    
    .btn-j{

        width: 100%;
    }

   }
  
   @media screen and (max-width:507px){

       .content6bv {
            left: 355px ;
           bottom: 110px;
       }

    .content-z1 {
        left: 410px;
    }


    h1.contentkk{

        width: 400px;

        font-size: 35px;
    }
    

    .content533{

        width: 85%;

        
    }

    .container62{
     

        align-items: center;
    }

    .container8{

        padding-block: 0px;

        height: 700px;

    }

    p.content830{

        font-size: 16px;
    }

    h1.content8200{

        font-size: 35px;
    }

    .container82{

        width: 400px;
    }
    .content710{

        width: 400px;
    }
    h1.contentjj{

        font-size: 35px;
    }

    p.content730{

        font-size: 16px;
    }
    .container7{
        height: 600px;

        padding-block: 0px;
    }
    .content623{

        text-align: center;
    }
    .content621{

        width: 400px;
    }
    p.content622{

        width: 400px;

        font-size: 16px;
    }

    p.content511{

        font-size: 16px;
    }

    .container51{

        justify-content: center;
    }
    span{

        font-size: 16px;
    }
    
    .container15l{

        width: 400px;
    }

   

    h1.content500{

        font-size: 35px;
    }

   
   .container4{

      height: 1800px;
   }
   

   

    .container51{

        width: 100%;
    }

    h1.content1000{

        font-size: 35px;


    }
   }

   @media screen and (max-width:500px){

        .content-z1 {
            left: 380px;
        }

    .contentti13{

        width: 150px;
    }
    
    .content133{

        width: 400px;
    }

    p.contentd135{

        width: 400px;
    }

    .contentc132{

        width: 400px;
    }

    .container131 {

            width: 400px;

            justify-items: center;
        }

      .content131 {
        width: 300px;
    }
     h3.contenta131 {
        width: 300px;
    }
     .content132 {
        width: 300px;
    }  
      h1.contentb132 {
            width: 300px;
        }


    .box-2{
        width: 300px;
    }
    .container10{

        justify-items: center;
    }

    .content6bv {
        left: 340px;
    }

   
   }

 @media screen and (max-width:443px){
    
    .content6bv {
        left: 330px;
        bottom: 95px;
    }
    .content-z1 {
            left: 340px;
        }

    .content944a{

        width: 400px;
    }

    .content91h{

        width:400px ;
    }
 }

   @media screen and (max-width: 434px) {

    .content6bv {
        left: 280px;
        bottom: 95px;
    }


    .content944a{

        width: 350px;
    }

    .content91h{

        width: 350px;
    }
    
    .content98b{
        font-size: 20px;
    }
    .content99l{

        font-size: 16px;
    }
    .content110{
      
         font-size: 60px;
    }
    .content11hh{
        font-size: 60px;
    }
     .content111{

        text-align: center;
        font-size: 16px;
     }
     .container15{

        width:300px ;
     }

     .container15l{

        width: 330px;
     }

     .container51{

        width: 300px;

        justify-self: center;
     }
     p.content511{
          
        width: 300px;

        font-size: 16px;
     }

     .content502{
        width: 300px;
     }

     .container52{

        text-align: center;
     }

     h1.content020{

        font-size: 18px;
     }

     .container52{

        width: 300px;

     }


     p.content622{

        width: 300px;

        justify-self: center;
     }

     .content6210{

        width: 300px;

        justify-self: center;
     }

     h1.contentkk{

        font-size: 30px;
        
        text-align: center;
     }

     p.content730{

        width: 300px;

        justify-self: center;
     }

     .content711{

        justify-self: center;

        width: 300px;
     }

      h1.contentjj{

        text-align: center;
      }

      h1.content91{

        font-size: 35px;
      }
      .container82{

        justify-content:center ;
    }
      p.content830{

        width: 300px;

        justify-self: center;
      }

      .content8400{

        justify-self: center;

        width: 300px;
      }
   }

   @media screen and (max-width:400px) {
    
    .content6bv {
        left: 254px;
        bottom: 95px;
    }
    .content-z1 {
        left: 300px;
    }

    .boxer-1{

        height: 50px;

        width: 50px;
    }

    .svg-1{

        height: 40px;
    }

    .text-1{

        font-size: 18px;
    }

    .box-2{

        width: 250px;
    }

    .container10r{

        width: 300px;
    }
    .container10h{

        width: 300px;
    }
    .container10k{

        width: 300px;
    }
    .container99k{

      flex-wrap:wrap ;
    } 
       h1.contentkk{

        width: 300px;
       }

       .content621{

        width: 300px;
       }
       h1.contentjj{

         width: 300px;
       }

       .content710{

         width: 300px;
       }

       .container71{
        justify-content: center;

        width: 300px;
       }
    
  

    h1.content91{

        font-size: 27px;
    
    }

     .container13 {
        justify-items: center;
        justify-content: center;
    }

    h1.contentb132 {
        width: 200px;
    }
    
      .content131 {
            width: 200px;
        }
     h3.contenta131 {
             width: 200px;
         }
        .content132 {
            width: 200px;
        }

        h1.contentb132 {
        width: 200px;
       }

       .content133 {
               width: 350px;
           }
      .contentd134 {
        width: 300px;
    }
    p.contentd135 {
        width: 300px;
    }
    .contentti13 {
        width: 150px;
    }

    .contentc132 {
        width: 300px;
    }

    .container131{

        width: 300px;
    }




}
   

   @media screen and (max-width:366px) {

    .content-z1 {
        left: 250px;
    }
         

        .content6bv {
            left: 230px;
            bottom: 100px;
        }
    
         .container15l{

            width: 250px;
         }
         
         .content133 {
                 width: 300px;
             }

             .contentc131 {
                     
                width: 300px;
                 }


         h1.content020{

            font-size: 15px;
         }
         p.content0200{

            font-size: 15px;
            width: 200px;
         }

        .content11hh{

            font-size: 40px;
        }

        .content110{

            font-size:40px ;

            
        }

        .content11{

            justify-content: center;
        }


        .content944a{

            width: 280px;
            height: 300px;
        }

        .content91h{

            width: 280px;
        }

        h1.contentkk{

            text-align: initial;
        }
       .content621{

         width: 300px;
       }

       .box-2{

        width: 210px;
       }
       p.content111{

        width: 287px;
    }

    .content8o{

        width: 300px;
    }

   }

   @media screen and (max-width:318px) {
    
    h1.content500{

        width: 250px;

        font-size: 28px;
    }
      .content11k {
    width: 287px;
     }

     .content111{
        width: 287px;
     }

    .content522{

        width: 250px;
    }

    .container71{

        width: 250px;
    }
    p.content730{

        width: 250px;
    }

    .content711{

        width: 250px;
    }

    h1.content8200{

        width: 250px;
    }

    p.content830{

        width: 250px;
    }

    .content8400{

        width: 250px;
    }

    p.content511{

        width: 250px;
    }

     .content50{

        width: 250px;
     }

      h3.content92{

        font-size: 20px;
      }
      .content621{

        width: 250px;
      }
      h1.contentkk{

        width: 250px;

        font-size:28px ;
      }
      p.content622{

        width: 250px;
      }
      .content6210{

        width: 250px;
      }
   }

   @media  screen and (max-width:300px) {
       .content-z1 {
        left: 200px;
    }

        .content6bv {
            left: 40px;
            bottom: 5px;
        }

    .container51{

        width: 200px;
    }


    .container4{

        height: 2200px;
    }
    
    h1.contentkk{

        width: 200px;
    }
     p.content11k{
        width: 200px;
     }
     .content11k{
        width: 200px;
     }
     p.content111{

        width: 200px;
     }

     .container15{

       width: 200px; 
     }

     .content133{




        width: 200px;
     }
     .container131{
        width: 200px;
     }

     .contentc13{
        width: 200px;
     }
     .content134{
        width: 200px;
     }
     p.contentd135{
        width: 200px;
     }

     .contentti13{

        position: relative;

        left: -44px;

        margin-inline-end: -28px;

        width: 100px;
     }
     .contentc132 {
             width: 200px;
         }
       .contentd134 {
        width: 200px;
    }
    .content8o {
        display: flex;
        margin-block-end: 10px;
        width: 200px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

   .contentc131 {
            width: 200px; 
       }

       .contentg130{
        width: 200px;
       }

     
       .content50{

        width: 200px;
       }

       .content51{

        width: 200px;
       }

       .content52{

        width: 200px;
       }

       .content522{

        width: 200px;
       }
       h1.content500{

        width: 200px;
       }
       p.content511{

        width: 200px;
       }

       .content621{

         width: 200px;
       }
       .contentkk{

         width: 200px;
       }

       .content621{

        width: 200px;
       }

       .content622{

        width: 200px;
       }

       p.content622{

        width: 200px;
       }

       .content621{

        width: 200px;
       }
       .content6210{

        width: 200px;
       }

       .container71{

        width: 200px;
       }

       .content710{
        width: 200px;
       }

       h1.contentjj{

        width: 200px;
       }

      .content710{

        width: 200px;
      }

      p.content730{

        width: 200px;
      }

     .content711{

        width: 200px;
     }

     .container82{

        width: 200px;
     }

     .content820{

        width: 200px;
     }

     h1.content8200{

        width: 200px;
     }

     .content83{

        width: 200px;
     }

     p.content830{

        width: 200px;
     }

     .content84{

        width: 200px;
     }

     .content8400{

        width: 200px;
     }

     .content5004{

        width: 200px;
     }

     .container15l{

        width: 200px;

        height: 250px;


     }
     .container10r {
             width: 200px;
         }
     .container10h {
             width: 200px;
         }

         .container10k{

            width: 200px;
         }

         .box-2{
            width: 150px;

            margin-inline-start: 45px;
         }

     .container52{

        display: none;
     }

     .container4{

        height: 2498px;
     }

     .content946a{
         margin-inline-start: 0px;
     }

     .content5g{
        margin-inline-start: 0px;
     }

     .content944a{

        height: 500px;

        width: 200px;
     }

     .content91h{

        width: 200px;
     }

     .btn-1{

        width: 200px;
     }
     .container02{

        width: 200px;
     }
     .container222{

        width: 200px;
     }

     p.content0200{

        width: 150px;
     }

   }